<label>Server names
<!--  <input-->
<!--    type="text"-->
<!--    class="form-control"-->
<!--    (input)="onUpdateServerName($event)">-->
  <input
    type="text"
    class="form-control"
    [(ngModel)]="serverName">

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add server</button>
</label>
<br>
<label>
  <button class="btn btn-primary" (click)="onClick()">Display details</button>
</label>
<p style="display: inline-block" *ngIf="detailsClicked">Secret: MEKIE!</p>
<p *ngFor="let logItem of clicksArray; let i = index"
    [ngStyle]="{backgroundColor: i >=5 ? 'blue' : 'transparent'}"
    [ngClass]="{'white-text': i >= 5}">{{logItem}}</p>

<!--<p [innerText]="allowNewServer"></p>-->
<p>{{serverCreationStatus}}</p>
<app-server *ngFor="let server of servers"></app-server>
